<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title><ui:insert name="titulo">BugTracker</ui:insert></title>
</h:head>

<h:body>

	<ui:insert name="cabecalho">
		<h2>BugTracker</h2>
		<hr />
	</ui:insert>

	<ui:insert name="conteudo">
		insira aqui o conteúdo da sua página;
	</ui:insert>

	<ui:insert name="rodape">
		<hr />
		<p align="right">Desenvolvido na disciplina DAM</p>
	</ui:insert>

</h:body>

</html>
